<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
    <title>Cerita Alam App</title>
  </head>
  <body>
    <div id="app-container">
      <navbar-app></navbar-app>
      <main></main>
    </div>
    <footer class="bg-light text-center text-muted py-3 mt-4 border-top">
      Built with Saeful Abdulloh Sayuti | Cerita Alam App
    </footer>
  </body>
</html>
